@model IEnumerable<LOTO.Models.Building>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Buildings</h1>

<p>
    <a asp-action="Create">Add New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameBuilding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Map)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coordinates)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameBuilding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Map)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coordinates)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a> |
                <button type="button" class="btn btn-link" onclick="location.href='@Url.Action("IndexMachines", "Machines")'">Machines Area</button>
            </td>
        </tr>
}
    </tbody>
</table>
