@model IEnumerable<LOTO.Models.Machine>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Machines in [Name Buiding] </h1>

<p>
    <input type="button" class="btn btn-outline-primary" value="Add Machine" onclick="location.href='@Url.Action("Create", "Machines")'">

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MachineName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachineMap)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MachineName)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MachineMap)
            </td>*@
            <td>
                <a asp-action="Details" asp-route-id="@item.MID">Open Machine</a> |
                <a asp-action="Edit" asp-route-id="@item.MID">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.MID">Delete</a> |
            </td>
        </tr>
}
    </tbody>
</table>
