@model IEnumerable<LOTO.Models.MachineZone>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .container {
                 display: table;
                 width: 50%;
                 padding-right: 15px;
                 padding-left: 15px;
            }
            .left-half {
              position: absolute;
              left: 0px;
              width: 50%;
            }
            .right-half {
                position: absolute;
                right: 0px;
                width: 50%;
            }
        </style>
    </head>
    <body>

        <h1>Machine Zones</h1>
        <p>
            <a asp-action="Create">Add Zone</a>
        </p>
        <section class="container">
            <div class="left-half">
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.NameMachineZone)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ZoneMapFile)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NameMachineZone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ZoneMapFile)
                                </td>
                                <td>
                                    <button type="button" class="btn btn-link" onclick="location.href='@Url.Action("IndexTasks", "Tasks")'">Open Tasks</button> |
                                    <a asp-action="Details" asp-route-id="@item.MZID">Details</a> |
                                    <a asp-action="Edit" asp-route-id="@item.MZID">Edit</a> |
                                    <a asp-action="Delete" asp-route-id="@item.MZID">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="right-half">
                <img src="images/image.jpg" alt="Sample Photo" />
            </div>
        </section>
    </body>
</html>