@model IEnumerable<LOTO.Models.Task>

@{
    ViewData["Title"] = "Index";
}

<h1>Tasks Area</h1>

<p>
    <a asp-action="Create">New Task</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TaskName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PID">Delete</a> |
                <button type="button" class="btn btn-link" onclick="location.href='@Url.Action("IndexProcedures", "Procedures")'">IndexProcedures</button> |
            </td>
        </tr>
}
    </tbody>
</table>
